*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.charSearchTop{
   width: 100%;
   display: flex;
   flex-direction: column;
}
.charSearch{
   width: 100%;
   margin-top: 12px;
   height: 135px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.charSearch>span{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 45%;
}
.charSearch>div{
   width: 100%;
   height: 55%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.charSearch>div>input{
   width: 35%;
   height: 40px;
   padding-left: 7px;
   font-size: large;
   border: 1px solid rgb(255, 108, 39);
   border-radius: 4px;
}
.charSearch>div>input:focus{
   outline: none;
   border: 2px solid rgb(255, 108, 0);
}
.charSearch>div>button{
   width: 80px;
   height: 40px;
   border: none;
   margin-left: 4px;
   background-color: skyblue;
   border-radius: 4px;
   color: white;
}
.charSearch>div>button:hover{
   cursor: pointer;
}
.charLists{
   padding: 20px 10%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(8,minmax(100px,12.5%));;
   gap: 7px;
}
.userNames{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid cyan;
   border-radius: 8px;
   transition: 0.25s linear;
}
.userNames:hover{
   background-color: lightcyan;
   cursor: pointer;
}
.userNames>img{
   width: 100%;
   object-fit: contain;
}
.charDirectInfos{
   width: 100%;
   padding: 10px 15%;
}
.charEquips{
   width: 100%;
   display: flex;
}
.charImg{
   display: flex;
   width: 50%;
}
.charImg>img{
   height: 400px;
}
.charText{
   padding: 0 8px;
   width: 50%;
   display: grid;
   row-gap: 5px;
   grid-template-columns: repeat(1,1fr);
}
.charText>span{
   border-radius: 7px;
   padding: 0 6px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid lightgray;
   width: 100%;
}
@media screen and (max-width: 1100px) {
   .charText{
      position: absolute;
      padding: 8px;
      width: 25%;
   }
   .charText>span{
      width: 50%;
      height: 40px;
      border: none;
      background-color: rgba(185, 185, 185, 0.705);
      color: white;
   }
}
.charImg>img{
   background-image: url("https://dundam.xyz/img/bg_char.jpg");
   background-position: center;
   background-size: contain;
   border-radius: 7px;
}
.charEquip{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   row-gap: 5px;
   column-gap: 8px;
   width: 50%;
}
.charSpec{
   margin:  15px 10% 0 10%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.equipWindowBtn{
   margin-top: 10px;
   width: 100%;
   height: 50px;
   display: flex;
   gap: 5px;
   flex-direction: row;
}
.equipWindowBtn>div{
   width: 25%;
   border: 1px solid lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
}
.fss{
   display: flex;
   height: 50px;
   padding: 0 5px 5px 5px;
   margin-bottom: 5px;
}
.trs{
   width: 30%;
   height: 100%;
   text-align: center;
   border: 1px solid lightgray;
   border-radius: 7px;
}
.trs>span{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-size: 12pt;
}
.tts{
   width: 70%;
   text-align: center;
   border: 1px solid lightgray;
   border-radius: 7px;
}
.tts>span{   
   font-size: 15pt;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.item{
   border: 1px solid lightgray;
   display: flex;
   align-items: center;
   padding: 0 6px;
   border-radius: 7px;
}
.ItemsLists{
   padding: 20px 15%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.itemNames{
   display: flex;
   width: 25%;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   height: 50px;
}
.tetes{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imgbox{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.itemitemitem{
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   border: 1px solid lightgray;
   border-radius: 4px;
}
.boardPage{
   width: 100%;
   height: 100%;
   background-color: silver;
}
.noticeTable{
   width: 100%;
   padding: 50px 10% 0 10%;
   display: flex;
   justify-content: center;
}
.freeTable{
   width: 100%;
   padding: 0 10%;
   display: flex;
   justify-content: center;}
.noticeTable>table,.freeTable>table{
   width: 100%;
}
.noticeTable>table>thead>tr>th,.freeTable>table>tbody>tr>th,.freeTable>table>tbody>tr>td{
   border: 1px solid beige;
   height: 35px;
}
.freeTable>table>tbody>tr>td{
   padding-left: 15px;
}
.fss2{
   display: flex;
   width: 100%;
   height: 60px;
   padding: 0 5px 5px 5px;
   margin-bottom: 5px;
}
.trs2{
   width: 60px;
}
.tts2{
   width: 100%;
   text-align: center;
   border: 1px solid lightgray;
   border-radius: 7px;
}
.tts2>span{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}