/*****************************************캐릭서치 시작*/
.charSearch{
   width: 100%;
   min-height: 100vh;
   padding-top: 15px;
}
.charSearchTop{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.charTitle{
   padding-top: 10px;
   height: 70px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.charTitle>p{
   margin-top: 8px;
   font-size: small;
}
.charInput{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}
.charInput>input{
   padding-left: 8px;
   width: 30%;
   height: 70%;
   font-size: 12pt;
   border: 1px solid lightblue;   
   border-radius: 4px;
}
.charInput>input:focus{
   outline: none;
}
.charInput>button{
   border: none;
   background-color: lightblue;
   color: white;
   height: 70%;
   width: 5%;
}
.charInput>button:hover{
   cursor: pointer;
}
.charLists{
   width: 100%;
   padding: 0 15%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 5px;
   row-gap: 10px;
}
.userNames{
   border: 1px solid firebrick;
   transition: ease-in-out 0.25s;
   border-radius: 8px;
}
.userNames:hover{
   cursor: pointer;
   background-color: aquamarine;
}
.userNames>img{
   margin-top: -10%;
   width: 100%;
   height: 80%;
   object-fit: contain;
}
.charBasicInfo{
   height: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}
/*****************************************캐릭서치 끝*/
/*****************************************캐릭인포 시작*/
.charDirectInfos{
   width: 100%;
   padding: 3% 15% 0 15%;
}
.charEquips{
   width: 100%;
   height: 400px;
   display: flex;
}
.charImg{
   width: 100%;
   height: 100%;
   display: flex;
}
.imgimg{
   height: 100%;
   background-image: url("https://firebasestorage.googleapis.com/v0/b/plogprojects.appspot.com/o/bg_char.jpg?alt=media&token=790a0186-56d3-4c42-ba27-4609cab8266a");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   overflow: hidden;
   display: flex;
   justify-content: center;
}
.imgimg>img{
   width: calc(100% - 15px);
   height: 100%;
   object-fit: contain;
}
.charText{
   width: 50%;
}
.charText>div{
   width: 100%;
   height: 50px;
}
/*****************************************캐릭인포 끝*/
/*****************************************캐릭세부인포 시작*/
.equipWindowBtn{
   width: 100%;
   display: flex;
   gap: 7px;
   height: 50px;
}
.equipWindowBtn>div{
   margin-top: 5px;
   width: 20%;
   height: 100%;
   background-color: cadetblue;
   text-align: center;
   line-height: 50px;
}
.equipWindowBtn>div:hover{
   cursor: pointer;
}
.charEquip{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.item{
   display: flex;
}
.item>img{
   width: 35px;
   height: 35px;
}
.item>div{
   width: calc(100% - 35px);
   height: 35px;
   display: flex;
   align-items: center;
   padding-left: 8px;
   font-size: 10pt;
   text-shadow: 0px 0px 0px rgb(175, 175, 175);
}
.item>div>span{
   color: black;
}
.charSpec{
   margin-top: 8px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 5px;
   padding: 0 10%;
}
.fss{
   margin-top: 8px;
   display: flex;
   border: 1px solid lightgray;
   border-radius: 5px;
   height: 35px;
}
.trs{
   width: 25%;
   text-align: center;
   line-height: 35px;
   overflow: hidden;
   border-right: 1px solid lightgray;
}
.tts{
   width: 75%;
   line-height: 35px;
   text-align: center;
}
.fss2{
   margin-top: 8px;
   display: flex;
   height: 50px;
   border: 1px solid lightgray;
   border-radius: 5px;
}
.trs2{
   width: 20%;
   display: flex;
   justify-content: center;
}
.tts2{
   width: 80%;
}
.tts2>span{
   width: 100%;
   height: 50%;
   display: inline-block;
   overflow: hidden;
}
.charSpec2{
   width: 100%;
   margin-top: 15px;
   padding: 0 8%;
   display: grid;
   grid-template-columns: repeat(8,1fr);
   gap: 10px;
}
.totototo{
   border: 1px solid lightgrey;
   border-radius: 5px;
   width: 100%;
   min-height: 200px;
}
.totototo:nth-child(1){
	grid-column: 3 / 7;
	grid-row: 1 / 2;
}
.totototo:nth-child(2){   
	grid-column: 1 / 5;
	grid-row: 2 / 3;
}
.totototo:nth-child(3){   
	grid-column: 5 / 9;
	grid-row: 2 / 3;
}
.talisman{
   width: 100%;
   height: 30%;
   text-align: center;
}
.talisman>span{
   width: 100%;
   color: #cf00cf;
}
.taliRunes{
   height: 70%;
   display: flex;
   flex-direction: column;
}
.taliRunes>span{
   font-size: 10pt;
   height: 33.33%;
   text-align: center;
}
/*****************************************캐릭세부인포 끝*/